@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 3;
}

.nav-menu {
    width: 20rem;
}

.nav-menu li {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: "Space Mono", monospace;
}

#menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:white;
    /* background-color: rgb(162, 8, 134); */
    background-image: url("/img/HD-wallpaper-plain-purple-background-purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menuu {
    /* height: 100vh; */
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:white;
    background-color: transparent;
    /* background-color: rgb(162, 8, 134); */
    /* background-image: url("/img/images.jpeg") */

}

.menu-item {
    color: white;
    font-size: clamp(3rem, 4vw, 5rem);
    font-family: 'Poppins', sans-serif;
    margin: 60px 0;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover>.menu-item {
    opacity: 0.3;
}

#menu-items:hover>.menu-item:hover {
    opacity: 1;
}


footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 3;
}

.sm {
    width: 10rem;
}

.sm li {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.sm li a {
    text-decoration: none;
    color: white;
}

footer .name {
    font-family: 'Poppins', sans-serif;
}

.sm li a img {
    height: 25px;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(rgba(2255, 255, 255, 0.1) 9%,
            transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: all 800ms ease;
}

#menu-items:hover~#menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;

}

#menu[data-active-index="0"]>#menu-background-pattern {
    background-position: 0% -33%;
}

#menu[data-active-index="1"]>#menu-background-pattern {
    background-position: 0% -66%;
}

#menu[data-active-index="2"]>#menu-background-pattern {
    background-position: 0% -100%;
}

@media all and (max-width: 580px) {
    .nav-menu {
        width: 12rem;
    }

    .nav-menu li a {
        font-size: 1rem;
    }
    
    .container{
    height: 80vh;
  }

    .menu-item {
        font-size: clamp(1.5rem, 4vw, 5rem);
    }

    footer {
        padding-right: 0;
    }

    .sm li a img {
        height: 22px;
    }

}
